# Machine learning model artifacts
*.h5
*.hdf5
*.pkl
*.joblib
*.onnx
*.pt  # PyTorch models
*.tflite  # TensorFlow Lite models
*.pb  # TensorFlow Protocol Buffers
*.bin

*/text_encoder
*/text_encoder_2
*/unet
*/vae_decoder
*/vae_encoder